body,
html {
  margin: 0;
  padding: 0;
  font-family: Smythe, serif;
}

/*____ Typography ____*/
h1,
h2,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 28px;
}

.header-text {
  color: white;
  margin-bottom: 20px;
}

.price {
  font-size: 20px;
}

/*____ Images ____*/
.product-img {
  width: 60px;
}

/*____ Buttons ____*/
button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.add-product-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid lightgray;
  border-radius: 50%;
  font-size: 16px;
  color: darkslategray;
  background-color: lightgray;
  transition: all ease 0.15s;
}

.add-product-btn:hover {
  background-color: white;
}

.add-product-btn:active {
  background-color: white;
  opacity: 0.6;
}

.order-visibility-btn {
  position: absolute;
  right: 250px;
  top: 8px;
  padding: 2px 7px;
  padding-top: 0;
  background-color: transparent;
  border: 2px solid darkslategray;
}

.remove-btn {
  background-color: transparent;
  border: none;
  font-size: 10px;
}

.complete-order-btn {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background-color: goldenrod;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  transition: all ease 0.15s;
}

.complete-order-btn:hover {
  background-color: black;
  color: goldenrod;
}

.complete-order-btn:active {
  opacity: 0.5;
  transition: none;
}

/*____ Layout ____*/
.body-container {
  max-width: 600px;
  margin: auto;
}

.container {
  width: 600px;
  padding-inline: 30px;
}

header {
  height: 163px;
  width: 100%;
  background: url(/images/header-bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.articles {
  margin-top: 60px;
}

.product {
  margin-top: 45px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1.5px solid lightgray;
}

.product:last-child {
  margin-bottom: 200px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add-product-btn {
  margin-left: auto;
}

.order {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  background-color: #c6c6c6ea;
}

.products-order,
.total-price {
  width: 100%;
}

.product-order,
.total-price {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
}

.product-order-title,
.total-price-title {
  margin-right: auto;
}

.product-order > .price {
  margin-left: 10px;
}

.total-price {
  border-top: 1px solid black;
}

/*____ Utility ____*/
.hidden {
  display: none;
}
